@charset "utf-8";
/* CSS Document */


.hide { display:none; }

.video-chat { width:100%; height:100%; background-color:#f5f5f5; z-index:30; position:absolute; overflow:hidden; display:none; }

.video-chat-title { height:85px; background-color:black; border-bottom:3px #000 solid; width:100%; position:absolute; z-index:25; }

	.video-chat-title .logo { margin-left:20px; width:150px; float:left; margin-top:10px; }
	
	.video-chat-title .hangup { float:right; width:32px; height:32px; padding:8px; margin-right:20px; margin-top:20px; }
		.video-chat-title .hangup img { height:32px; width:32px; }

.video { width:100%; height:100%; background-color:#f5f5f5; z-index:5; top:53px; position:absolute; }

#enter-agent-pin .loading { padding-top:10px; padding-bottom:10px; position:relative; top:0; left:0; transform:translate(0%,0%); }
	#enter-agent-pin .loading h2{ font-size:18px; color:#390; width:450px; text-align:center; font-weight:normal; }
	#enter-agent-pin .loading img { display:block; margin:auto; }

.loading { position:absolute; top:45%; left:50%; transform: translate(-50%, -50%); }
	.loading h2 { display:block; margin:auto; font-size:32px; width:660px; text-align:center; }
	.loading img { display:block; margin:auto; }
	 
.remote { width:100%; height:100%; z-index:10; float:left; }
	.remote video { background-size:cover; width:auto; height:auto; min-height:100%; min-width:100%; right:0; bottom:0; position:absolute; z-index:1; }

.local { width:240px; height:180px; margin:10px; border:5px #000 solid; position:absolute; bottom:53px; right:0; z-index:15; }
	.local video { width:240px; height:180px; -webkit-transform:scale(-1,1); -moz-transform:scale(-1,1); background-color:#000; }

.bpopup {
    background-color: #f5f5f5;
    box-shadow: 0 0 1px 0px #999;
	border-radius: 10px 10px 10px 10px;
    color: #111;
    display: none;
    width: 450px;
    padding: 25px;
}

.bpopup {
    min-height: 175px;
}

.bpopup h2{ margin-bottom:0px; font-size:28px; color:#006784; font-family:Arial; }

.bpopup p { margin-top:0px; font-size:18px; }

.bpopup .button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
	background-color: #006784;
}

.button.small {
    border-radius: 15px;
    float: right;
    margin: 22px 5px 0;
    padding: 6px 15px;
}

.bpopup .button:hover {
    color: #1e1e1e;
}

.button>span {
    font-size: 84%;
}

.button.b-close,.button.bClose {
	background-color: #006784;
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

.chatBtn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #b3afaf;
  padding: 6px 12px 6px 24px;
  text-decoration: none;
  margin-top:5px;
}

.chatBtn.online {
  background: #de912c;
  padding: 6px 12px 6px 18px;  
}

.chatBtn.offline {
  background: #b3afaf;
  padding: 6px 12px 6px 24px;  
}

.chatBtn:hover.online{
  background: #deb885;
  text-decoration: none;
}

#divBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

body {
  font-size: 70%;
}

.ui-dialog-buttonset {
  text-align: right;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.no-title .ui-dialog-titlebar {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

#divChatLog {
  height: 15em;
  overflow: auto;
  width: 420px;
  margin-top:7px;
}

.spnOrig {
  display: block;
  font-weight: bold;
}

.spnMessage {
  display: block;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

#imgSpinner {
  vertical-align: middle;
  margin-right: 1em;
}

#customerName, #customerPhone {
  width:120px;
}

#customerEmail {
  width:292px;
}

.emailWrapper {
  margin-top:10px; 
}

.agentInfo {
	float:left; 
	width: 275px; 
	margin-top:20px;
}

#agentImage {
	float:right; 
	border: 1px solid black; 
	margin-bottom:5px;
}

.chatBtnText {
	text-transform:uppercase; 
	font-weight:bold; 
	font-style:normal; 
	font-family:Arial, Helvetica, sans-serif;
}

.agentTitle {
	color: #974806; 
	font-family: arial; 
	font-size: 11px;
}

#chat-container {
	background-color:#f6ecdc; 
	width: 100%; 
	height: 1000px; 
	display:none;
}