/* ================================================
	Good display for: Internet Explorer 5 (Mac), Internet Explorer 5.5 (or hight,6,7 beta 2)
	Konqueror 2.2 (Linux), Netscape 6 (or hight: ver 7, 8)
	Opera 5 and 6 (or hight: ver 7, 8)
	Safari 1.0
	FireFox 1.1 (or height)
	Check All for: CSS Level 2
	www.dnn360.net
	check by: thangpdtt@gmail.com 
================================================ */

.H1Style1 {
	border-style: none;
	border-width: 0px;
}

.H1Style2 {
	color: white;
	text-align: center;
	background-position: left;
	/*background-color: #980100;*/
	padding-left: 17px;
	padding-right: 17px;
	height: 26px;
	font-weight: bold;
	font-size: 12px;
	text-transform: capitalize;
}

td.H1Style2 {
	white-space: nowrap;
	background-image: url("nav-seperator.jpg");
	background-position: right;
	background-repeat: no-repeat;
}

.H1Style3 {
	color: white;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	height: 26px;
}

td.H1Style3 {
	white-space: nowrap;
	/*background-color: black;*/
	padding-left: 17px;
	padding-right: 17px;
	background-image: url("nav-seperator.jpg");
	background-position: right;
	background-repeat: no-repeat;
	/*border-left: thin black solid;*/
}

.H1Table {
	color: white;
	background-color: #980100;
}

.H1Header {
	white-space: nowrap;
	height: 60px;
	background-image: url("nav-repeater.jpg");
	padding-left: 10px;
}

.H1MenuLevel0,.H1MenuLevel0:visited,.H1MenuLevel0:link {
	color: white;
	font-family: 'Neuton',serif;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
}

.H1MenuLevel0:hover {
	color: gray;
}

#header-nav-right a.H1MenuLevel0Selected, #header-nav-left a.H1MenuLevel0Selected, .H1MenuLevel0Selected:visited,.H1MenuLevel0Selected:link {
	color: #bb6b3a;
	font-family: 'Neuton',serif;
	font-weight: normal;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
}

.H1MenuLevel1Selected,.H1MenuLevel1Selected:visited {
	color: yellow;
	padding-left: 7px;
	line-height: 25px;
	padding-right: 7px;
}

.H1MenuLevel1,.H1MenuLevel1:visited ,.H1MenuLevel1:link {
	color: white;
	text-decoration: none;
	padding-left: 7px;
	line-height: 25px;
	padding-right: 7px;
}

.H1MenuLevel1:hover {
	text-decoration: underline;
	padding-left: 7px;
	line-height: 25px;
	padding-right: 7px;
}

.H1MenuLevel1Selected,.H1MenuLevel1Selected:visited,.H1MenuLevel1Selected:link {
	color: yellow;
}

.H2Style4 {
	text-align: right;
}

td.H1Style2 {
	white-space: nowrap;
}

#dropmenudiv {
	position: absolute;
	border: 1px solid black;
	border-bottom-width: 0;
	font: normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 18px;
	z-index: 100;
}

#dropmenudiv a {
	width: 100%;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid black;
	padding: 1px 0;
	text-decoration: none;
	font-weight: bold;
}

#dropmenudiv a:hover {
	background-color: yellow;
}