﻿@charset "UTF-8";
/* CSS Document */

* { margin:0; padding:0; }

html, body {
	width: 100%;
}

img { 
	border: 0;
}

.clear{clear:both;}

#page-container{
	background-image:url('images/repeater.jpg');
	background-repeat:repeat-x;
	background-color:#f6ecdc;
}

#content-container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	}

#footer-nav li
{   
    display: inline;
}

#footer-nav a
{   
    color: #FFFFFF;
    text-decoration: none;
}

#header-nav-left{
	background-image:url('images/nav-repeater.jpg');
	background-repeat: repeat-x;
	float:left;
	width:342px;
	height: 62px;
	font-family: 'Neuton', serif;

	letter-spacing:1px;
}
	
#header-nav-left a {
	color:#fff;
	text-decoration: none;
	font-size: 14px;
}

#header-nav-left a:hover {
	color:#bb6b3a;
}

#header-nav-left ul{
	padding:0;
	list-style-type:none;
	color:#fff;
	}

#header-nav-left li{
	display:inline;
/*	padding-right:20px;*/
	padding: 21px 19px 21px 18px;
	background-image:url('images/nav-seperator.jpg');
	background-repeat: no-repeat;
	background-position: right;
	}
	
	
	
#logo{
	float:left;
	width:308px;
	position:relative;
	z-index:100;
	font-size:0px;
	line-height:0;
	}
	
#header-nav-right{
	background-image:url('images/nav-repeater.jpg');
	background-repeat: repeat-x;
	float:left;
	width:348px;
	height:62px;
	font-family: 'Neuton', serif;
	letter-spacing:1px;
	font-weight:200;
	}
	
#header-nav-right a {
	color:#fff;
	text-decoration: none;
	font-size: 14px;
}

#header-nav-right a:hover {
	color:#bb6b3a;
}
	
#header-nav-right ul{
	padding: 0;
	list-style-type:none;
	color:#fff;
	}

#header-nav-right li{
	display:inline;
	padding: 21px 19px 21px 18px;
	background-image:url('images/nav-seperator.jpg');
	background-repeat: no-repeat;
	background-position: right;
	}

#slider1{
	position:absolute;
	z-index:0;
	margin-top: -84px;
	font-size:0px;
	line-height:0;
	}
	
#header-container{
	position:absolute;
	z-index:0;
	margin-top: -84px;
	font-size:0px;
	line-height:0;
	}

#dnn_HeaderContainerPane {
	position:absolute;
	z-index:0;
	margin-top: -84px;
	font-size:0px;
	line-height:0;
	}

	
#home-phone {
	position: relative;
	left: 25px;
	top: -496px;
	z-index: 10;
	font-size: 15px;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.home-apply {
	background-image: url(images/home-apply-online-bg.png);
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	width: 107px;
	height: 15px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #4b3e35;
	font-size: 12px;
	padding-top: 13px;
	font-weight:bold !important;
}

#home-login {
	position: relative;
	left: 810px;
	top: -525px;
	z-index: 10;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 160px;
}

.home-login-link {
	background-image: url(images/login-bg.png);
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	width: 158px;
	height: 15px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #4b3e35;
	font-size: 12px;
	padding-top: 13px;
}
	
#callout-container{
	padding-top:393px;
	background-image:url('images/callout-bg.jpg');
	height:134px;
	background-position:bottom left;
	background-repeat: no-repeat;
	width:1000px;}
	
#fitness-center{
	width:208px;
	height:118px;
	padding-left:23px;
	padding-top:15px;
	}
	
	.callout-outer-section {
		width: 250px;
		float: left;
		height: 131px;
	}
	
	.callout-section {
		padding-left:23px;
		padding-top:15px;
		
	}
	
	.callout-section h3 {
		font-size: 17px;
		color: #a9b3c0;
		text-transform: uppercase;
	}
	
	.callout-section {
		font-family: 'Neuton', serif;
		font-size: 13px;
		color: #999999;
		font-style: italic;
	}
	
	.fitness-center {
		background-image: url(images/fitness-center-img.gif);
		background-repeat: no-repeat;
		background-position: 20px 44px;
	}
	
	.pet-friendly {
		background-image: url(images/pet-friendly-img.gif);
		background-repeat: no-repeat;
		background-position: 20px 59px;
	}
	
	.smoke-free {
		background-image: url(images/smoke-free-img.gif);
		background-repeat: no-repeat;
		background-position: 25px 59px;
	}
	
	.attached-garages {
		background-image: url(images/attached-garages-img.gif);
		background-repeat: no-repeat;
		background-position: 22px 56px;
	}
	
	.callout-content {
		padding-top: 10px;
		display: block;
		padding-left: 70px;
		font-size:11px;
	}
	
	a.learn-more-btn {
		background-image: url(images/home-learn-more-btn.jpg);
		background-repeat: no-repeat;
		width: 110px;
		height: 25px;
		text-align: center;
		display: block;
		font-family: 'Neuton', serif;
		text-decoration: none;
		color: #413227;
		text-transform: uppercase;
		font-style: normal;
		padding-top: 4px;
		margin-top: 10px;
		font-size: 14px;
		font-size:11px;
	}
	
	#middle-section {
		
	}
	
	#left-middle-section {
		float: left;
		width: 474px;
	}
	
	#right-middle-section {
		float: right;
		width: 480px;
	}
	
#secondary-callout-container{
	width:490px;
	/*height:310px;*/
	padding-top:50px;
	float:left;
	}

.secondary-callout-copy{
	width:155px;
	height:75px;
	float:left;
}

.secondary-callout-copy h4{
	font-family: 'Neuton', serif;
	color:#51453b;
	font-weight:300;
	font-size: 16px;
	}
	
	
.secondary-callout-copy p{
	font-family: 'Neuton', serif;
	color:#999999;
	font-size:12px;
	font-style:italic;
	width: 100px;
	}

.secondary-callout-img{
	width:88px;
	height:95px;
	float:left;
	}	
	
#apply-online-container{
	background-image:url(images/apply-online-bg.jpg);
	width:474px;
	height:58px;
	padding-top: 20px;
	}

#apply-online-copy{
	width:180px;
	color:#FFF;
	font-family: 'Neuton', serif;
	font-style:italic;
	padding-right: 30px;
	padding-left:42px;
	font-weight:300;
	float:left;
	margin-top:0px;
	padding-top:0px;}
	
.apply-online-link, .apply-online-link:visited{
	background-image:url(images/apply-online.jpg);
	background-repeat: no-repeat;
	float:left;
	font-family: 'Neuton', serif;
	color:#51453b;
	text-decoration:none;
	height: 35px;
	text-align: center;
    padding-top: 7px;
    width: 179px;
	font-size: 24px;
	}
	
	
	
#monterra-map{
	background-image:url(images/map-bg.jpg);
	width:478px;
	height:278px;
	float:right;
	padding-top: 42px;
	background-position:bottom;
	background-repeat:no-repeat;}
	
#map-thumb{
	width:170px;
	height:167px;
	float:left;
	padding-top:14px;
	padding-left:18px;
	
	}
	
#map-copy{
	width:257px;

	float:left;
	padding-left:33px;
	padding-top:22px;
	font-size:28px;
	color:#51453b;
	text-transform:uppercase;
	letter-spacing:3px;
	padding-bottom:15px;
	}
	
	
#map-copy2{
	width:264px;
	height:210px;
	float:left;
	color:#999999;
	padding-left: 14px;
	
	}
	
#map-copy2 p {
	padding-top: 10px;
	line-height: 150%;
}
	
a.learn-more{
	float:right; 
	color:#a56036; 
	font-family: 'Neuton', serif; 
	text-decoration:none;
	font-size:12px;
	padding-right:15px;
	padding-top:10px;}
	
#divider{
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
	padding: 40px 0;
	}
	
#social-container{
	width:415px;
	/*height:428px;*/
	float:left;
	padding-bottom: 40px;
	}
	
#facebook-feed h2{
	color:#4a3c30; 
	font-family: 'Neuton', serif;
	font-weight:300;
	/*padding-top:63px;*/
	padding-bottom:20px;
	font-size: 24px;
}
	
	
a.facebooklinks{
	background-color:#faf5ec;
	width:117px;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#3e3120;
	text-decoration:none;
	font-size:13px;
	padding:10px 10px 10px 10px;
	margin-right:10px;
	}
	

	
.facebook-div h4 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b06b41;
}

.facebook-div h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	padding: 4px 0 10px;
}

.facebook-div p.Normal {
	padding-bottom: 20px;
	font-size: 12px;
	color: 37291f;
}
	
#monterra-facebook {
	
}

#monterra-facebook .feed-container {
	background-image: url(images/monterra-fb-icon.jpg);
	background-repeat: no-repeat;
	padding-left: 65px;
	border-bottom: 1px solid #d0c8ad;
	margin-bottom: 21px;
}


#alliance-facebook .feed-container {
	background-image: url(images/alliance-fb-icon.jpg);
	background-repeat: no-repeat;
	padding-left: 65px;
	border-bottom: 1px solid #d0c8ad;
	margin-bottom: 21px;
}
/*
#alliance-facebook img {
	display: none;
}
*/
#gallery-container{
	width:553px;
	/*height:443px;*/
	float:right;
	/*padding-top:32px;*/
	padding-bottom:40px;}

.alliance-tc{
	background-image:url(images/alliance-tc.jpg);
	width:548px;
	height:134px;
	padding-top:134px;
	padding-left:500px;
	}
	
#gallery{
	padding-top:55px;
	width:281px;
	padding-bottom:40px;
}

.gallery-img{
	float:left;
	width:90px;
	height:90px;}

	
#gallery h4{
	font-family: 'Neuton', serif;
	font-weight:300;
	padding-bottom:10px;
	font-size:18px;
	color:#4a3c30;}
	
#gallery a{
	text-decoration:none;
	color:#4a3c30;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;}
	
	
#monterra-elsewhere{
	padding-top:55px;
	width:250px;
	float:right;
	}
	
	
#monterra-elsewhere h4{
	font-family: 'Neuton', serif;
	font-weight:300;
	padding-bottom:10px;
	font-size:18px;
	color:#4a3c30;}	
	
.elsewhere{
	width:110px;
	padding-bottom:8px;
	float:left;
}
	
#questions{
	width:555px;
	height:56px;
	background-color:#faf4eb;
	padding-top:11px;}	
	
.questions-copy{
	float:left;
	padding-right:46px;
	padding-top:11px;
	padding-left:30px;
	font-family: 'Neuton', serif;
	font-weight:400;
	color:#4a3c30;
	font-size:18px;
	letter-spacing:1px;}
	
a.ask-anything{
	float:left;
	background-image:url(images/questions-bg.jpg);
	height: 28px;
    padding-left: 29px;
    padding-top: 16px;
    width: 243px;
	color:#584b40;
	text-decoration:none;
	font-size: 16px;
	}
	
#int-outer-content-container {
	padding-top: 157px;
	padding-bottom: 40px;
}

#int-general-info {
	color: #403627;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 17px 0;
}

#int-general-info a{
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #40362f;
}

#int-phone {
	float: left;
	width: 200px;
	padding-left: 45px;
}

#int-login {
	float: right;
	width: 300px;
	text-align: right;
	padding-right: 45px;
}

#int-content-container {
	background-color: #ffffff;
	padding: 50px 40px 0;
}

#int-content-container h1 {
	background-image: url(images/header-line.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-family: 'Neuton', serif;
	font-weight:normal;
	color:#4a3c30;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-bottom: 10px;
}

#content {
	float: left;
	width: 656px;
	padding-top: 35px;
}

#content h2 {
	color: #3e3120;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}

#content p {
	color: #3e3120;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 160%;
	padding-bottom: 30px;
}

.accordionButton h5{
	cursor: pointer;
	color: #999999;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 8px 0 8px 20px;
	
}


#sidebar-tab-links .over h5{
	background-color: #e4dec4;
}

#sidebar-tab-links .on h5{
	background-color: #e4dec4;
}


/* SideMenu  */
.MenuHdr
{ 
    display: none;
  font-size: 10pt; 
  padding-left: 10px; 
  font-weight: bold; 
  padding-bottom: 2px; 
  background-color: #f1f1f1; 
  padding-top: 2px; 
  cursor: default;
}


.MenuItemMouseOver
{
  background-color: #e4dec4 !important;  
}

.MenuItem, .MenuItemMouseOver
{
  cursor: pointer;
	color: #999999 !important;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 8px 0 8px 0px;
  
}

.MenuItem A, .MenuItem A:Active, .MenuItem A:Hover, .MenuItem A:Visited, .MenuItem A:Link, 
.MenuItemMouseOver A, .MenuItemMouseOver A:Active, .MenuItemMouseOver A:Hover, 
.MenuItemMouseOver A:Visited, .MenuItemMouseOver A:Link
{
  display: block;
  padding-left: 20px;
  padding-bottom: 1px;
  cursor: pointer;
  color: #999;
  padding-top: 1px;
  text-decoration: none;   
  width: 100% 
}







#sidebar {
	float: right;
	width: 216px;
	padding-top: 35px;
	padding-bottom: 40px;
}

#sidebar-apply-online-container {
	background-image: url(images/sidebar-apply-bg.jpg);
	background-repeat: no-repeat;
	height: 139px;
	width: 216px;
}

#sidebar-apply-online-copy {
	color: #ffffff;
	font-family: 'Neuton', serif;
	font-style: italic;
	font-weight: 100;
	font-size: 16px;
	padding: 20px 0 0 22px;
	
}

#sidebar-apply-online-link {
	padding: 17px 0 0 17px;
}

.sidebar-apply-online-btn {
	background-image:url(images/apply-online.jpg);
	background-repeat: no-repeat;
	font-family: 'Neuton', serif;
	color:#51453b;
	text-decoration:none;
	height: 35px;
	text-align: center;
    padding-top: 7px;
    width: 179px;
	font-size: 24px;
	display: block;
		
}

#sidebar-tab-links {
	padding-top:  50px;
}

.tab-link {
	
}

.tab-link a  {
	color: #999999;
	display: block;
	text-decoration: none;
	padding: 10px 0 10px 10px;
	font-size: 19px;
	font-family: 'Neuton', serif;
	font-weight: 200;
}

.tab-link a:hover {
	background-color: #e4dec4;
	color: #483d35;
}

#tab-copy-container {
	padding-top: 20px;
}

.tab-copy {
	padding-bottom: 20px;
}

.tab-body-copy {
	float:left;
}

.tab-body-copy h6 {
	font-family: 'Neuton', serif;
	font-size: 15px;
	color: #3b2e26;
	padding-bottom: 5px;
}

.tab-body-copy p {
	font-family: 'Neuton', serif;
	font-style: italic;
	color: #999999;
	font-size: 15px;
}

.tab-img {
	float: left;
	padding-right: 10px;
}

.divider {
	padding-bottom: 50px;
}

#int-social-container {
	width: 600px;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 20px;
}

	
#footer-container{
	background-image:url(images/footer-bg.jpg);
	width:100%;
	height:111px;
	}
	
#footer{
	width:1000px;
	height:92px;
	margin-left:auto;
	margin-right:auto;
	}
	
#footer-links-container{
	width:456px;
	}
	
#footerText {
    color: #A19185;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
}

a.footerlinks{
	float:left;
	color:#a19185;
	text-decoration:#a19185;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	padding-right:20px;
	padding-top:37px;
	padding-bottom:10px;}
	
#footer-logo{
	float:right;
	width:422px; /* changed from 204px*/
	height:80px;
	opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
  padding-top: 18px;}

#footer-logo img{
	vertical-align:middle;
}

#hm_logo {
    margin-left: 30px;
}

	
	
