a.TabLink
{
text-decoration:none;
} 

.font_grey10bold {
	color: #bcbcbc;
	font-weight: bold;
	font-size: 10px;
}
.font_grey10bold a:link, .font_grey10bold a:visited {
	color: #bcbcbc;
}
.font_grey10bold a:hover {
	color: #003399;
}
.hotnews_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #A34A08;
	padding: 0px 4px 4px 4px;
}
.hotnews_title a:link, .hotnews_title a:visited {
	color: #A34A08;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

form {
	vertical-align: middle;
}
.smallfont_news {
	font-size: 10px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 0px;
}
.tdFooter
{
    font-size: 1px;
	padding: 0 0 0 0;
	color:White;  
}
.smallfont_news a:link, .smallfont_news a:visited {
	color:#666666;
}
.tabyellow
{
	cursor: pointer;
	border-top: solid 1px #96beb8;	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #FFFFFF;
	border-left: solid 1px #96beb8;	
	background-image: url(topbg_green4.gif);
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	height: 24px;
	font-weight: bold;
	font-size:11px;
	color: #a34a08;
}
.tabyellow a:link, .tabyellow a:visited {
	color: #a34a08;
	cursor:pointer;
}

.tabred a:link, .tabred a:visited {
	color: #a34a08;
	cursor:pointer;
}
.tabgreen
{
	cursor: pointer;
	border-top: solid 1px #96beb8;	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #FFFFFF;
	border-left: solid 1px #96beb8;	
	background-image: url(topbg_green2.gif);
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	height: 24px;
	font-weight: bold;
	font-size:11px;
	color: #a34a08;
}
.tabgreen a:link, .tabgreen a:visited {
	color: #a34a08;
	cursor:pointer;
}
.tabgrey_selected
{
	cursor: pointer;
	border-top: solid 1px #96beb8;	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #FFFFFF;
	border-left: solid 1px #96beb8;	
	background-image: url(topbg_green2.gif);
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	height: 24px;
	font-weight: bold;
	font-size:11px;
	color: #a34a08;
}
.tabgrey_selected a:link, .tabgrey_selected a:visited {
	color: #a34a08;
	cursor:pointer;
}
.tabgrey
{
	background-image: url(greybtn1.gif);
	background-repeat: repeat-x;
	background-position: 50% bottom;
	cursor: pointer;
	border-top: solid 1px #e1e8e5;	
	border-right: solid 1px #e1e8e5;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #e1e8e5;	
	height: 24px;
	text-align: center;
	font-size:11px;
	vertical-align: middle;
	color: #575757;
}
.tabgrey a:link, .tabgrey a:visited {
	color: #575757;
	cursor:pointer;
	height: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;

}

.tabselect {
	
	cursor:pointer;	
	border-top: solid 1px #96beb8;
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #FFFFFF;
	border-left: solid 1px #96beb8;	
	background-image: url(H5SelectedRepeat.gif);
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	height: 24px;
	font-weight: bold;
	color: #a34a08;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}
.tabselect a:link, .tabselect a:visited {
	color: #a34a08;
	cursor:pointer;
}
.tabunselect {
	background-image: url(H5repeat.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	cursor:pointer; 
	border-top:solid 1px #e1e8e5 ;
	border-right:solid 1px #e1e8e5;
	border-bottom:solid 1px #96beb8;
	border-left:solid 1px #e1e8e5;		
	height: 24px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}
.tabunselect a:link, .tabunselect a:visited {
	color: #575757;
	cursor:pointer;
	height: 24px;
}

.notab
{		
	border-bottom: solid 1px #96beb8;	
	height: 24px;	
	color:White;
}

.thumb_newsimg {
	background-image: url(thumbpic_bg.gif);
	text-align: center;
	vertical-align: middle;

}
.contentbdr 
{	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	background-image: url(bottombg_1.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
}
.contentbdr_1 {
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	background-image: url(bottombg_1.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.tdContent
{
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    text-align:justify;
	font-size: 10px;
}
.setpadding8px {
	padding:8px 8px 8px 8px;
}
.hotnews_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #A34A08;
	padding: 0px 4px 4px 4px;
}
.hotnews_title a:link, .hotnews_title a:visited {
	color: #A34A08;
}
.btn_xemtiep {
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-top: 8px;
}
.btn_xemtiep a:link, .btn_xemtiep a:visited {
	color: #0048ae;
}
.tabItem
{
    background-image: url(greybtn1.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	cursor:pointer; 
	border-top:solid 1px #e1e8e5;
	border-bottom:solid 1px #96beb8;
	border-right:solid 1px #e1e8e5;
	border-left:solid 1px #e1e8e5;
	text-align: center;
	vertical-align: middle;
	height: 24px;
	color: #575757;
}
.tabSelected  
{
    background-image: url(topbg_green2.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	cursor:pointer;
	border-top:solid 1px #96beb8;
	border-bottom:solid 1px #FFFFFF;
	border-right:solid 1px #96beb8;
	border-left:solid 1px #96beb8;
	text-align: center;
	vertical-align: middle;
	height: 24px;
	font-weight: bold;
	color: #a34a08;
}
/*****************************************/
.simple
{	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	background-image: url(bottombg_1.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	cursor:pointer;
	font-size: 10px;
}
.tabred
{
	border-top: solid 1px #96BEB8;
	border-left: solid 1px #96BEB8;
	border-right: solid 1px #96BEB8;
	background: #FFFFFF url(topbg_red1.gif) left repeat-x;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #FF6600;
	font-size:11px;
	height: 24px;
	cursor:pointer;
}
td.simplegray 
{
	background-image: url(greybtn1.gif);
	background-repeat: repeat-x;
	background-position: 50% bottom;
	border-top: solid 1px #E1E8E5;
	border-left: solid 1px #E1E8E5;
	border-right: solid 1px #E1E8E5;
	border-bottom: solid 1px #96BEB8;
	text-align: center;
	text-decoration:none;
	vertical-align: middle;
	color: #000000;
	height: 24px;
	cursor:pointer;
}
.simplegray 
{
	text-decoration:none;
	font-size:11px;
}
.simplegray a,.simplegray a:visited
{
	color: #000000;
	text-decoration:none;
	font-size:11px;
}
 .simplegray a:hover,  .simplegray a.highlighted:hover, .simplegray a:focus 
{
	color: #BE0000;
	font-size:11px;
	text-decoration:underline;
}

/****************************************/
.RoundedTab1
{	
	border-right: solid 1px #C6C6C6 ;
	border-bottom: solid 1px #C6C6C6 ;
	border-left: solid 1px #C6C6C6 ;
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
	background-image: url(bg_tab.jpg);
	background-repeat: repeat-x;
	
	background-color:white;
	padding:8px 8px 8px 8px;
}
.RoundedTab2
{	
	border-right: solid 1px #C6C6C6 ;
	border-bottom: solid 1px #C6C6C6 ;
	border-left: solid 1px #C6C6C6 ;
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
	background-repeat: repeat-x;
	
	background-color:white;
	padding:8px 8px 8px 8px;
}
.TabVert1
{	
	border-right: solid 1px #A3A278;
	border-bottom: solid 1px #A3A278;
	border-top: solid 1px #A3A278;
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
	background-repeat: repeat-x;
	
	background-color:#F9F9EF;
	padding:8px 8px 8px 8px;
}

.lightyellow
{	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	background-image: url(bottombg_2.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
	padding:8px 8px 28px 8px;
}
.lightgreen
{	
	padding:8px 8px 8px 8px;
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	background-image: url(bottombg_1.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
}

.Colors
{	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	background-image: url(bottombg_2.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding:8px 8px 8px 8px;
	font-size: 10px;
}
.tdTopStory_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #A34A08;
	padding-top: 4px;
	padding-bottom: 4px;
}
.tdTopStory_title2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A34A08;
	padding-top: 0px;
	padding-bottom: 4px;
}

#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}


.HeadDivNew
{
	background-image: url(greybtn1.gif);
	background-repeat: repeat-x;
	background-position: 50% bottom;
	cursor: pointer;
	border-top: solid 1px #e1e8e5;	
	border-right: solid 1px #e1e8e5;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #e1e8e5;	
	height: 24px;
	text-align: center;
	font-size:11px;
	vertical-align: middle;
	color: #575757;
}
.HeadDivNew_selected 
{
	cursor:pointer;	
	border-top: solid 1px #96beb8;
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #FFFFFF;
	border-left: solid 1px #96beb8;	
	background-image: url(yahoo.gif);
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	height: 24px;
	font-weight: bold;
	color: #a34a08;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.BodyAccordeon
{
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	background-image: url(accordbody.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
}
.Accordeon 
{	
	border-right: solid 1px #96beb8;
	border-bottom: solid 1px #96beb8;
	border-left: solid 1px #96beb8;
	padding:8px 8px 8px 8px; 
	background-image: url(accordbody.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 10px;
}
td.ArrowSelected
{
background:url('Arrow.gif')  no-repeat top center;
}