body {margin:0; padding:0;   font-size: 70%;}

#calendar-div {position:absolute; z-index:3; max-height:400px; max-width:400px; top:25%; left: 8%;}
#calendar-div.callActive {
	z-index:1;
}
#notepad {
	position:absolute; top:30%; right:10%; z-index:5;
}
#notepad.callActive {
	z-index:1;
}

.hide { display:none; }

.button { margin:10px; padding:6px; width:180px; text-align:center; font-size:18px; cursor:pointer; }

.video-chat { width:100%; height:100%; background-color:#f6ecdc; z-index:1; position:absolute; overflow:hidden; }

.video-chat-title { height:85px; background-color:black; border-bottom:3px #000 solid; width:100%; position:absolute; z-index:25; }

	.video-chat-title .logo { margin-left:20px; width:175px; float:left; margin-top:10px; }
		.video-chat-title .logo img { width:175px; }
		
	.video-chat-title .hangup { float:right; width:32px; height:32px; padding:8px; margin-right:20px; margin-top:15px; z-index:1000; }
		.video-chat-title .hangup img { height:32px; width:32px; z-index:1000; }
		
	.video-chat-title .title { float:left; width:70%; height:50px; text-align:center; }
		.video-chat-title .title h2 { color:#FFF; font-size:18px; font-weight:normal; margin-top:18px; }	

.agent-dashboard { height:50px; background-color:#ebbd80; border-bottom:1px #000 solid; width:100%; position:absolute; z-index:25; top:80px; }
.agent-image {color:white; float:right;}

.video { width:100%; height:100%; background-color:#f6ecdc; z-index:2; top:104px; position:absolute; }

.loading, #outgoing { position:absolute; top:50%; left:50%; transform: translate(-50%, -75%); z-index:100; }
	.loading h2 { display:block; margin:auto; font-size:24px; width:660px; text-align:center; text-transform:uppercase; font-weight:normal; }
	.loading img { display:block; margin:auto; }
	.loading button { display:block; margin:auto; margin-top:10px; margin-bottom:10px; }
#outgoing h2 { display:block; margin:auto; font-size:24px; width:660px; text-align:center; text-transform:uppercase; font-weight:normal; }
#outgoing img { display:block; margin:auto; }
	 
.remote { width:100%; height:100%; z-index:10; float:left; }
	.remote video { background-size:cover; width:auto; height:auto; min-height:100%; min-width:100%; right:0; bottom:0; position:absolute; z-index:1; }

.local { width:240px; height:180px; margin:10px; border:5px #000 solid; position:absolute; bottom:106px; right:0; z-index:1; /*display:none;*/ }
	.local video { width:240px; height:180px; -webkit-transform:scale(-1,1); -moz-transform:scale(-1,1); background-color:#000; }

.set { margin-left:20px; float:left; width:400px; }
	.set p { text-transform:uppercase; margin:0; padding:0; margin-top:17px; float:left; }
	.set button{ padding:2px; float:left; }

#agent-status { float:right; width:250px; margin-right:20px; }

#divBackground { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.85; }

.ui-dialog-buttonset {text-align: right; }

.no-close .ui-dialog-titlebar-close { display: none; } 

.no-title .ui-dialog-titlebar { display: none; }

.no-wrap { white-space: nowrap; }

#divChatLog { height: 15em; overflow: auto; width: 375px; margin-top:7px; }

.spnOrig { display: block; font-weight: bold; }

.spnMessage { display: block; margin-left: 1em; margin-bottom: 0.5em; }

#imgSpinner { vertical-align: middle; margin-right: 1em; }

.presence { opacity: 1; border-radius:50%; }

.presence.customer { height:15px;  width:15px;  float:right; }

.presence.agent { height:20px; width:20px; float:right; margin:15px 8px 0px 0px}

.online { background-color: #35ac19; }

.offline { background-color: red; }